<!doctype html>

<html lang="en">
    
    <head>
    
        {{!-- title --}}
        <title>{{meta_title}}</title>
        <link rel="favicon" href="{{asset '/favicon.ico'}}">
        
        {{!-- meta --}}
        <meta charset="utf-8">
        <meta name="description" content="{{meta_description}}">
    
        {{!-- styles --}}
        <link rel="stylesheet" type="text/css" media="screen, projection" href="{{asset '/styles/screen.css'}}">
        <link rel="stylesheet" type="text/css" media="print" href="{{asset '/styles/print.css'}}">

        <!--[if IE]>
          <link rel="stylesheet" type="text/css" media="screen, projection" href="{{asset '/styles/ie.css'}}">
        <![endif]-->
        
        {{!-- scripts --}}
        <script type="text/javascript" src="{{asset '/scripts/jquery.js'}}"></script>
        <script type="text/javascript" src="{{asset '/scripts/main.js'}}"></script>

        {{!-- ghost head --}}
        {{ghost_head}}
    
    </head>
    
    <body class="{{body_class}}">
    
        {{!-- header --}}
        <header class="bounding" id="site-head">
            <h1><a href="{{@blog.url}}">Harvey<em>Nick</em>.com</a></h1>
            <p>{{@blog.description}}</p>
            {{navigation}}
        </header>
        
        {{!-- content --}}
        <main id="content">
            {{{body}}}
        </main>
        
        {{!-- footer --}}
        <footer class="bounding" id="site-foot">
            <section id="copyright">&copy;{{date format='YYYY'}} <a href="{{@blog.url}}">{{@blog.title}}</a>. All rights reserved.</section>
            <section id="poweredby">Proudly powered by <a href="http://ghost.org" target="_blank">Ghost</a>.</section>
            <section id="disclaimer">This site uses affiliate links. Why not, right?</section>
        </footer>

        {{!-- ghost body --}}
        {{ghost_body}}
    
    </body>
    
</html>