{{!< default}}

{{#post}}
<article id="{{id}}" class="{{post_class}}" itemscope itemtype="http://schema.org/BlogPosting">
	{{> article-header}}
	{{> article-meta}}
  {{#if feature_image}}
    <meta itemprop="image" content="{{img_url feature_image}}"></meta>
  {{/if}}
	{{{content}}}

	<section class="share">
		Share:
		<span class="twitter">
            <a href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}"
                onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                twitter
            </a>
		</span>
		<span class="facebook">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                facebook
            </a>
		</span>


		<span class="googleplus">
            <a href="https://plus.google.com/share?url={{url absolute="true"}}"
               onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
               google+
            </a>
		</span>
    
		<span class="reddit">
            <a href="https://www.reddit.com/submit?url={{url absolute="true"}}"
               onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
               reddit
            </a>
		</span>
	</section>
</article>
{{/post}}